<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cấp quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".ui.view.activity.WeatherApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextĐồÁn"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

<!--        &lt;!&ndash; Cấu hình API Key của Google Maps &ndash;&gt;-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFTgWDocizT3d4PZYqj_gPNfbnEA39HNw"/>

        <activity
            android:name=".ui.view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:name=".ui.view.activity.MainActivity"></activity>
        <activity  android:name=".ui.view.activity.LauncherActivity"></activity>
        <activity  android:name=".ui.view.activity.RegisterActivity"></activity>
        <activity  android:name=".ui.view.activity.LoginActivity"></activity>

        <!-- Service FCM -->
        <service
            android:name=".data.services.HealthAlertFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Các meta-data cho FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_health" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="health_alerts_channel" />
    </application>

</manifest>
